<!-- show all weapons -->

<h1 class="text-center">Listing Weapons</h1>
<table class="table weapons-table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Attack</th>
    <th>Speed</th>
    <th>Range</th>
    <th>Type</th>
    <th></th>
    <th></th>
  </tr>
  <% @weapons.each do |wp| %>
    <tr id = "weapon_<%= wp.id%>" >
      <td class = "weapon_name"><%= wp.name %></td>
      <td class="weapon_price"><%= wp.price %></td>
      <td class="weapon_attack"><%= wp.attack %></td>
      <td class="weapon_speed"><%= wp.speed%></td>
      <td class="weapon_range"><%= wp.range %></td>
      <td class="weapon_type"><%= wp.weapon_type.name if wp.weapon_type%></td>
      <td>
        <button class="btn btn-primary buy" >Buy</button>
        <button class="btn btn-warning unequip disabled" >Unequip</button>
      </td>
    </tr>
  <% end %>
  </table>
  <%= render 'zombie_info'%>
  <br />
  <%= javascript_tag do %>
    <% @zombie_weapons.each do |wp|%>
      jQuery('#weapon_<%= wp.id%>').css('color', 'red');
      jQuery('#weapon_<%= wp.id%> .buy').addClass('disabled');
      jQuery('#weapon_<%= wp.id%> .unequip').removeClass('disabled');
    <% end%>
  <% end %>