<!-- Modal -->
<%= form_for(@zombie, :remote => true) do |f| %>
  <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel"><%= @zombie.name%></h4>
        </div>
        <div class="modal-body">
          <div id="error">
          </div>
          <div class="form-group">
            <%= f.label :name %><br />
            <%= f.text_field :name , :class => "form-control"%>
          </div>
          <div class="form-group">
            <%= f.label :bio %><br />
            <%= f.text_area :bio,  :class => "form-control", :rows => "3"%>
          </div>
          <div class="form-group">
            <%= f.label :birthday %><br />
            <%= f.text_field :birthday,  :class => "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :gold %><br />
            <%= f.text_field :gold,  :class => "form-control", :type=>"number",:min=>"0", :step=>"1" %>
          </div>
          <div class="form-group">
            <%= f.label :attack %><br />
            <%= f.text_field :attack,  :class => "form-control", :type=>"number",:min=>"0", :step=>"1" %>
          </div>
          <div class="form-group">
            <%= f.label :defence %><br />
            <%= f.text_field :defence,  :class => "form-control", :type=>"number",:min=>"0", :step=>"1" %>
          </div>
          <div class="form-group">
            <%= f.label :speed %><br />
            <%= f.text_field :speed,  :class => "form-control", :type=>"number",:min=>"0", :step=>"1" %>
          </div>
          <div class="form-group">
            <%= f.label :password %><br />
            <%= f.text_field :password,  :class => "form-control", :type => "password" %>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default close-btn" data-dismiss="modal">Close</button>
          <%= f.submit( :class => "btn btn-default") %>
        </div>
      </div>
    </div>
  </div>
<% end %>