
<tr id = "zombie_<%= @zombie.id%>" >
    <td><%= @zombie.name %></td>
    <td><%= @zombie.bio %></td>
    <td><%= @zombie.age %></td>
    <td><%= link_to "Edit", edit_zomby_path(@zombie), :remote => true %></td>
    <td><%= link_to "Destroy", @zombie, :confirm => "Are you sure?", :method => :delete, :remote => true %>
    <td><%= link_to "Show Tweets",zomby_tweets_path(@zombie) , :remote => true %></td>
    <td><%= link_to "Create Tweets", new_zomby_tweet_path(@zombie), :remote => true %></td>
</tr>