<h1 class="text-center">Listing zombies</h1>
<table class="zombies_table table">
  <tr>
    <th>Name</th>
    <th>Bio</th>
    <th>Birthday</th>
    <th>Gold</th>
    <th>Attack</th>
    <th>Defence</th>
    <th>Speed</th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  <% @zombies.each do |zombie| %>
  <tr id = "zombie_<%= zombie.id%>" >
    <td><%= zombie.name %></td>
    <td><%= zombie.bio %></td>
    <td><%= zombie.birthday %></td>
    <td><%= zombie.gold%></td>
    <td><%= zombie.attack %></td>
    <td><%= zombie.defence %></td>
    <td><%= zombie.speed %></td>
    <td><%= link_to "Edit", edit_zomby_path(zombie), :remote => true %></td>
    <td><%= link_to "Destroy", zombie, :confirm => "Are you sure?", :method => :delete, :remote => true %>
      <td><%= link_to "Show Tweets",zomby_tweets_path(zombie) , :remote => true %></td>
      <td><%= link_to "Create Tweets", new_zomby_tweet_path(zombie), :remote => true %></td>
    </tr>
    <% end %>
  </table>
  <br />
  <div class="modal_form">
    <% @zombie = Zombie.new%>
    <%= render 'modal_form' %>
    <%= render 'random_zombies'%>
  </div>
  <a id="new_link" class="btn btn-default" > New zombie </a>
  <a id="random_zombie" class="btn btn-default" > Create Random Zombie </a>

