<!-- show all supports -->

<nav>
  <ul class="pagination">
    <li ><a class="previous1" aria-label="Previous"><span aria-hidden="true">«</span></a></li>

    <% for i in 0..@pages_number %>
      <li><%= link_to (i+1).to_s, supports_path(:support_page => i)%></li>
    <% end %>
    <li ><a class="next1" aria-label="next"><span aria-hidden="true">»</span></a></li>
  </ul>
</nav>

<h1 class="text-center">Listing Supports</h1>
<table class="table weapons-table">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>Attack</th>
    <th>Speed</th>
    <th>Defence</th>
    <th></th>
    <th></th>
  </tr>
  <% @supports.each do |sp| %>
    <tr id = "support_<%= sp.id%>" >
      <td class = "support_name"><%= sp.name %></td>
      <td class="support_price"><%= sp.price %></td>
      <td class="support_attack"><%= sp.attack %></td>
      <td class="support_speed"><%= sp.speed%></td>
      <td class="support_defence"><%= sp.defence %></td>
      <td>
        <button class="btn btn-primary wear " >Buy</button>
        <button class="btn btn-warning unwear disabled">Unequip</button>
      </td>
    </tr>
  <% end %>
  </table>
  <%= render '/weapons/zombie_info'%>
  <br />

<%= javascript_tag do -%>
  var pages_number = <%= @pages_number %>
  var current_page = <%= @supports_number%>
  <% @zombie_supports.each do |sp|%>
    jQuery('#support_<%= sp.id%>').css('color', 'red');
    jQuery('#support_<%= sp.id%> .wear').addClass('disabled');
    jQuery('#support_<%= sp.id%> .unwear').removeClass('disabled');
  <% end %>
<% end -%>