<!DOCTYPE html>
<html>
  <head>
    <title>TwitterForZombies</title>
    <%= javascript_include_tag "jquery" %>
    # <%= javascript_include_tag "bootstrap" %>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag "bootstrap" %>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Zombie shop</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/weapons">Weapon</a></li>
            <li><a href="/supports">Suport</a></li>
            <li>
              <a id ="zombie_info_btn">Your Zombie</a>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
      </ul>
          </div><!--/.nav-collapse -->
        </div>
      </nav>
      <div class="container main">
        <div class="container">
          <%= yield %>
        </div>
        </div><!-- /.container -->
        <footer class="footer inverse">
          <div class="container">
            <p class="text-muted"> footer </p>
          </div>
        </footer>
      </body>
    </html>